In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split 
import pandas as pd

In [ ]:
iris=pd.read_csv("./iris_dirty.csv")

In [ ]:
iris_df=pd.DataFrame(iris)

In [ ]:
iris_df['Species']=iris_df['Species'].replace(['setosa','versicolor','virginica'],[0,1,2])

In [ ]:
iris_df['Sepal.Width'].fillna(iris_df['Sepal.Width'].mean(),inplace=True)
iris_df['Sepal.Length'].fillna(iris_df['Sepal.Length'].mean(),inplace=True)
iris_df['Petal.Width'].fillna(iris_df['Petal.Width'].mean(),inplace=True)
iris_df['Petal.Length'].fillna(iris_df['Petal.Length'].mean(),inplace=True)

In [ ]:
iris_df

     Sepal.Width  Petal.Length  Petal.Width  Species  Sepal.Length
0            3.5           1.4          0.2        0      5.100000
1            3.0           1.4          0.2        0      4.900000
2            3.2           1.3          0.2        0      4.700000
3            3.1           1.5          0.2        0      4.600000
4            3.6           1.4          0.2        0      5.002128
..           ...           ...          ...      ...           ...
145          3.0           5.2          2.3        2      6.700000
146          2.5           5.0          1.9        2      6.300000
147          3.0           5.2          2.0        2      6.500000
148          3.4           5.4          2.3        2      6.200000
149          3.0           5.1          1.8        2      6.610870

[150 rows x 5 columns]

In [ ]:
X=iris_df.drop("Species",axis=1)
Y=iris_df["Species"]
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.8,random_state=32)

In [ ]:
Dtree=DecisionTreeClassifier()

In [ ]:
Dtree.fit(X_train,Y_train)
pred=Dtree.predict(X_test)
from sklearn.metrics import accuracy_score

In [ ]:
score=accuracy_score(Y_test,pred)
score

0.9666666666666667