In [ ]:
from sklearn.datasets import fetch_openml
titanic=fetch_openml("titanic")
titanic

/usr/local/lib/python3.10/dist-packages/sklearn/datasets/_openml.py:301: UserWarning: Multiple active versions of the dataset matching the name titanic exist. Versions may be fundamentally different, returning version 2.
  warn(
/usr/local/lib/python3.10/dist-packages/sklearn/datasets/_openml.py:968: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

{'data':        Class    Age    Sex
 0    -1.8700 -0.228  0.521
 1    -0.9230 -0.228 -1.920
 2    -0.9230 -0.228 -1.920
 3     0.9650 -0.228  0.521
 4     0.0214 -0.228  0.521
 ...      ...    ...    ...
 2196  0.9650 -0.228  0.521
 2197 -0.9230 -0.228  0.521
 2198 -1.8700 -0.228  0.521
 2199  0.9650 -0.228  0.521
 2200 -0.9230 -0.228 -1.920

 [2201 rows x 3 columns],
 'target': 0       -1
 1        1
 2        1
 3        1
 4       -1
         ..
 2196    -1
 2197    -1
 2198    -1
 2199    -1
 2200     1
 Name: class, Length: 2201, dtype: category
 Categories (2, object): ['-1', '1'],
 'frame':        Class    Age    Sex class
 0    -1.8700 -0.228  0.521    -1
 1    -0.9230 -0.228 -1.920     1
 2    -0.9230 -0.228 -1.920     1
 3     0.9650 -0.228  0.521     1
 4     0.0214 -0.228  0.521    -1
 ...      ...    ...    ...   ...
 2196  0.9650 -0.228  0.521    -1
 2197 -0.9230 -0.228  0.521    -1
 2198 -1.8700 -0.228  0.521    -1
 2199  0.9650 -0.228  0.521    -1
 2200 -0.9230 -0.228 -1.920     1

 [2201 rows x 4 columns],
 'categories': None,
 'feature_names': ['Class', 'Age', 'Sex'],
 'target_names': ['class'],
 'DESCR': 'PMLB version of the Titanic dataset, which only uses 3 features. See version 1 for the complete version: https://www.openml.org/d/40945\n\nDownloaded from openml.org.',
 'details': {'id': '40704',
  'name': 'Titanic',
  'version': '2',
  'description_version': '1',
  'format': 'ARFF',
  'upload_date': '2017-04-06T12:38:28',
  'licence': 'public',
  'url': 'https://api.openml.org/data/v1/download/4965305/Titanic.arff',
  'parquet_url': 'http://openml1.win.tue.nl/dataset40704/dataset_40704.pq',
  'file_id': '4965305',
  'default_target_attribute': 'class',
  'tag': 'derived',
  'visibility': 'public',
  'minio_url': 'http://openml1.win.tue.nl/dataset40704/dataset_40704.pq',
  'status': 'active',
  'processing_date': '2018-10-04 07:15:38',
  'md5_checksum': '08416114dd85d0ebd932fcb1d87650c1'},
 'url': 'https://www.openml.org/d/40704'}

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [ ]:
import pandas as pd

In [ ]:
titanic_df = pd.DataFrame(titanic['data'], columns=titanic['feature_names'])

# Add the target variable to the DataFrame
titanic_df['Survived'] = titanic['target']

In [ ]:
titanic_df

       Class    Age    Sex Survived
0    -1.8700 -0.228  0.521       -1
1    -0.9230 -0.228 -1.920        1
2    -0.9230 -0.228 -1.920        1
3     0.9650 -0.228  0.521        1
4     0.0214 -0.228  0.521       -1
...      ...    ...    ...      ...
2196  0.9650 -0.228  0.521       -1
2197 -0.9230 -0.228  0.521       -1
2198 -1.8700 -0.228  0.521       -1
2199  0.9650 -0.228  0.521       -1
2200 -0.9230 -0.228 -1.920        1

[2201 rows x 4 columns]

In [ ]:
titanic_df["Age"].fillna(titanic_df["Age"].mean(),inplace=True)

In [ ]:
X=titanic_df.drop("Survived",axis=1)
Y=titanic_df["Survived"]
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.8,random_state=30)

In [ ]:
dt=DecisionTreeClassifier()
dt.fit(X_train,Y_train)

DecisionTreeClassifier()

In [ ]:
pred=dt.predict(X_test)

In [ ]:
score=accuracy_score(Y_test,pred)
score

0.7619047619047619